@use "components/reset"
@use "components/button"
@use "components/background"
@use "components/marpad"
@use "components/grid"
@use "components/header"
@use "components/container"
@use "components/card"
@use "components/position"
@use "components/hideappear"
@use "components/flex"
@use "components/width"
@use "components/link"
@use "components/text"
@use "components/border"


*
    box-sizing: border-box
    color: rgb(240, 240, 240)

:not(pre)
    font-family: 'Segoe UI', sans-serif

.code, pre
    font-family: monospace
    max-width: 100%
    overflow-x: auto
    white-space: pre-wrap

code
    font-family: monospace


body
    min-height: 100vh

p
    margin: 1em 0 1em 0