/* Error: expected selector.
 *    ,
 * 15 |     responsive("j")
 *    |               ^
 *    '
 *   style\components\u-text.sass 15:15  @use
 *   style\style.sass 16:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected selector.\a    \2577 \a 15 \2502      responsive("j")\a    \2502                ^\a    \2575 \a   style\\components\\u-text.sass 15:15  @use\a   style\\style.sass 16:1               root stylesheet';
}
