@use "components/reset"
@use "components/button"
@use "components/background"
@use "components/marpad"
@use "components/grid"
@use "components/header"
@use "components/container"
@use "components/card"
@use "components/position"
@use "components/hideappear"
@use "components/flex"
@use "components/width"
@use "components/link"


*
    box-sizing: border-box
    color: rgb(240, 240, 240)
    font-family: 'Segoe UI', sans-serif !important

body
    min-height: 100vh

p
    margin: 1em 0 1em 0