$color-names: 'main', 'secondary', 'highlight'
$color-values: rgb(45, 45, 45), rgb(66, 66, 66), rgb(56, 95, 194)
$colors: zip($color-names, $color-values)


/* Breakpoints */
$small: 600
$medium: 768
$large: 992
$xlarge: 1200

$breakpoint-values: $small, $medium, $large, $xlarge
$breakpoint-names: "small", "medium", "large", "xlarge"

$breakpoints: zip($breakpoint-names, $breakpoint-values)