button
    padding: 0.3em
    border: none
    background-color: transparent

    border-radius: 5px

    &:hover
        background-color: #2d2d2d
        cursor: pointer

    &:active
        background-color: #353535

/* 
    usage: You dont have to use anything, the rules make your buttons nice.
    html: lfkasjdflkasjd*/